//normal sized tiles
.tile-row {
	margin-left: -@tile-margin;
	.clearfix();

	.tile {
		float: left;
		margin: 0 0 @tile-margin @tile-margin;
		background-color: @accent;
		width: @tile-dimension;
		height: @tile-dimension;

		&.wide {
			width: @tile-dimension * 2;
		}
	}
}