//normal sized tiles 
#tiles > .core(@gridRowWidth + @tile-margin, @tilenumber, @tile-padding, @tile-margin);

//tablet tiles
@media (max-width: 979px) { 
	.tile-row {
		margin-left: -1%;
		.clearfix();
		.tile {
			width: 24%;
			height: 0;
			padding: 0 0 24% 0;
			margin: 0 0 1% 1%;
			background-color: @accent;
			float: left;
		}
	}
}

//tiles in phone 
@media (max-width: 480px){
	.tile-row {
		margin-left: -2%;
		.clearfix();
		.tile {
			width: 48%;
			height: 0;
			padding: 0 0 48% 0;
			margin: 0 0 2% 2%;
			background-color: @accent;
			float: left;
		}
	}
}

//desktop large sized tiles
@media (min-width: 1200px){
	#tiles > .core(@gridRowWidth1200 + @tile-margin-large, @tilenumber-large, @tile-padding-large, @tile-margin-large);
}

/*.tile-row {
	margin-left: -@tile-margin;
	.clearfix();

	.tile {
		width: @tile-dimension - (@tile-padding * 2);
		height: @tile-dimension - (@tile-padding * 2);
		float: left;
		margin: 0 0 @tile-margin @tile-margin;
		padding: @tile-padding;
		background-color: @accent;
		position: relative;
		overflow:hidden;
		color: @white;

		&.wide {
			width: (@tile-dimension * 2)  - (@tile-padding * 2);
		}

		&:hover {
			.tile-backside {
				.transition(top 0.4s ease-in-out);
				top: 0px;
			}
		}

		.tile-backside {
			padding: @tile-padding;
			background-color: @accentHighlight;
			height: @tile-dimension - @tile-padding - @tile-margin;
			position: absolute;
			top: @tile-dimension;
			left: 0;
			.transition(top 0.4s ease-in-out);
		}

		.tile-title {
			font-size: 12px;
			line-height: 0px;
			color: @white;
			position: absolute;
			padding:0;
			margin:0;
			left:@tile-padding;
			bottom: @tile-padding / 2;
		}
	}
}*/

#tiles {
	.core(@rowWidth,@nmbrOfTiles,@tilePadding,@tileMargin) {
		.tile-row {
			margin-left: -@tileMargin;
			.clearfix();
			.tile {
				width: (@rowWidth / @nmbrOfTiles) - (@tilePadding * 2) - @tileMargin;
				height: (@rowWidth / @nmbrOfTiles) - (@tilePadding * 2) - @tileMargin;
				padding: @tilePadding;
				margin: 0 0 @tileMargin @tileMargin;
				background-color: @accent;
				float: left;
			}
		}
	}
}